body{
    background: url("../images/bg-pattern-top-desktop.svg"),url("../images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat;
    background-position: top left, right;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    flex-wrap: wrap;
}
.container{
    margin: 5% auto;
    width: 80%;
}
.containertop{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.title{
    width: 40%;
    padding-right: 10%;

}
h1{
    font-size: 3rem;
    color: hsl(300, 43%, 22%);
    margin: 0;
}
.title h2{
    font-weight: 400;
    color: hsl(303, 10%, 53%);
    font-size: 1rem;
    line-height: 1.8rem;
}
.starscontainer{
    width: 50%;
    color: hsl(300, 43%, 22%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 30px;
}
.i2{
    align-self:center;
}
.i3{
    align-self: flex-end;
}
.starscontainer h3{
    display: inline;
    padding-left: 10px;
}
.starsitem{
    line-height: 50px;
    height: 50px;
    width: 75%;
    font-size: 13px;
    padding-left: 30px;
    background-color: hsl(300, 24%, 96%);
    border-radius: 5px;
}

.starsitem img{
    padding-right: 5px;
}

.containerbot{
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    height: 280px;
    gap: 20px;
}
.items{
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    min-height: 250px;
    height: 35%;
    max-width: 32%;
    padding-bottom: 20px;
}
.item2{
    margin-top: 1%;
}
.item3{
    margin-top: 2%;
}
.perfil{
    padding: 6%;
}
.containerbot img{
    border-radius: 50%;
    width: 60px;
    margin-bottom: -8px;
}
.containerbot h2{
    color: white;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0 0 15px;
    line-height: 28px;
}
.containerbot span{
    color: hsl(333, 80%, 67%);
}
.containerbot p{
    margin-top: 30px;
    color: white;
    line-height: 24px;
}

@media (max-width:1280px){
    .container{
        width: 100%;
    }
    .containertop{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .title{
        margin-top: 40px;
        width: 60%;
        padding-right: 0;
    }
    .starscontainer{
        margin-top: 20px;
        width: 60%;
    }
    .starsitem{
        padding-left: 20px;
        text-align: center;
    }
    .containerbot{
        height: auto;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }
    .items{
        max-width: 48%;
        height: auto;
    }
    .item2,.item3{
        margin-top: 0;
    }

@media (max-width:870px){
        body{background:url("../images/bg-pattern-top-mobile.svg"),url("../images/bg-pattern-bottom-mobile.svg");
        background-repeat: no-repeat;
        background-position: top left, right;
        }
        .container{
            width: 90%;
            text-align: center;
        }
        .title{
            width: 100%;
        }
        .starsitem{
            width: 80%;
            height: 70px;
            align-self: center;
            padding-left: 0;
        }
        .starsitem h3{
            display: block;
            margin-top: -25px;
        }
        .starscontainer{
            width: 100%;
            align-self: center;
        }
        .containerbot{
            width: 100%;
            align-content: center;
        }
        .items{
            max-width: 100%;
        }
        
    }
}